body {
  background-color:  #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 44px;
  text-align: center;
  color: #ffffff;
  margin-top: -30px;
}

.count h2 {
  font-size:50px
}
.counterSS {
  font-size: 40px;
}

.counterMM  {
  font-size: 60px
}
.setTimer {
  /* display: flex; */
  margin-top: 180px;
  margin-left: -200px;
  justify-content: flex-end;
  align-items: center;
   
}
.btn {
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #C1C1C1;
  
}