<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linux</title>
</head>
<body>
    <h1>IIFE style</h1>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, fuga! Quasi laborum delectus cumque repellendus? Nostrum nesciunt iure et corrupti ex, modi quae sunt sed beatae perferendis, ipsum harum delectus esse nihil, quasi eum repellendus. Eveniet nostrum earum facere a ut dolorem excepturi voluptatum molestiae enim labore sequi rerum minima, praesentium quas quia! Dolores, quos eaque accusantium vero recusandae iste ad ab, consectetur omnis doloribus culpa alias adipisci officia amet veniam quia. Iste nulla accusamus velit labore incidunt saepe eaque rem dolor, quas quod autem repudiandae temporibus quidem. Ratione, harum?</p>
    </div>
</body>
</html>